body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 20%;
    min-width: 400px;
    height: 50%;
    background-color: antiquewhite;
    
}

.display{
    width: 95%;
    height: 20%;
    align-self: center;
    margin: 10px;
    background-color: aliceblue;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 75%;
    width: 95%;
    grid-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    
}

button{
    font-size: 20px;
}

#clear, #delete{
    grid-column: span 2;
}
#main{
    height: 80%;
    min-height: 64px;
    font-size: 40px;
}

#secondary{
    height: 20%;
    min-height: 32px;
    font-size: 20px;
}